{% assign sorted_list = site.our-services | sort: 'weight' %}
<div class="left_column">
	<nav class="secondary">
		<ul>
			<li><a href="{{ "/" | relative_url }}" class="">FACILITIES</a></li>
			{% for item in sorted_list %}
			<li><a {% if item.url==page.url %} class="current-menu-item" {% endif %} href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
			{% endfor %}
		</ul>
	</nav>
	<aside class="left">
		<section class="careers">
			<a href="{{ "/our-services/Onsite-now/" | relative_url }}">
				<h2>ON-SITE NOW</h2>
				<p>We can be onsite in 12hrs</p>
			</a>
		</section>
		<section class="whoweare">
			<div class="rule"></div> <a href="{{ "our-services/" | relative_url }}">
				<h2>CONTACT US</h2>
				<p>Get Immediate response</p>
			</a>
		</section>
	</aside>
</div>