<div class="left_column">
	<nav class="secondary">
		<ul>
			<li class="current-menu-item"><a href="index.html" class="">FACILITIES</a></li>
			<li class="">
				<a href="architecture/index.html" class="architecture">SCADA ARCHITECTURE</a>
			</li>
			<li class="">
				<a href="renewable-energy/index.html" class="renewable-energy">CLEAN COAL/WIND</a>
			</li>
			<li class="">
				<a href="energy-resiliency/index.html" class="energy-resiliency">PROCESS CONTROLS</a>
			</li>
			<li class="">
				<a href="power-delivery/index.html" class="power-delivery">Power Monitoring</a>
			</li>
			<li class="">
				<a href="intelligence/index.html" class="mission-critical-infrastructure">Critical Infrastructure</a>
			</li>
			<li class="">
				<a href="power-generation/index.html" class="power-generation">Power Generation</a>
			</li>
			<li class="">
				<a href="scadacybersecurity/index.html" class="industrial-controls-and-scada">Industrial Controls and SCADA</a>
			</li>
			<li class="">
				<a href="cyber-security/index.html" class="cyber-security">Cyber Security</a>
			</li>
			<li class="">
				<a href="environmental-services/index.html" class="environmental-services">Data Center</a>
			</li>
			<li class="">
				<a href="small-business-registration/index.html" class="building-management">Building Management</a>
			</li>
			<li class="">
				<a href="federal-contracts/index.html" class="federal-contracts">DoD Contracts</a>
			</li>
		</ul>
	</nav>
	<aside class="left">
		<section class="careers">
			<a href="../../our-services/Onsite-now/index.html">
				<h2>ON-SITE NOW</h2>
				<p>We can be onsite in 12hrs</p>
			</a>
		</section>
		<section class="whoweare">
			<div class="rule"></div> <a href="our-services/index.html">
				<h2>CONTACT US</h2>
				<p>Get Immediate response</p>
			</a>
		</section>
	</aside>
</div>
