<div class="page">
	<footer>
		<ul>
			<li class="left">
				<div class="links-text">
					<p>
						<a href="{{ "/contact/" | relative_url }}">Contact</a>
						<a href="{{ "/terms" | relative_url }}">Terms</a>
						<a href="{{ "/nothing" | relative_url }}">Corporate</a>
					</p>
					<p>&copy; OSControls. All rights reserved.</p>
				</div>
			</li>
			<li class="right">
				<p style="font-family: 'NovecentowideUltraLightBold', sans-serif;font-size: 14px;margin: auto;padding: 25px 0px;color: #ffffff;line-height: 27px;"> US:833.327.5483 </p>
			</li>
		</ul>
	</footer>
</div>
