<header>
	<a title="OSControls" href="{{ "/" | relative_url }}">
		<h1 style="font-family: 'NovecentowideUltraLightBold', sans-serif;font-size: 32px;margin: auto;padding: 25px 0px;color: #ffffff;line-height: 32px;"> OSControls </h1>
	</a>
	<nav class="primary">
		<ul id="menu-main-menu" class="menu">
			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1772"><a href="/our-services">OCS<br>Capabilities</a>
				<ul class="sub-menu">
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3245"><a href="/our-services/facilities">Facility Systems</a></li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1811"><a href="/our-services/advanced-networking">Advanced Networking</a></li>
					<li  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-10683"><a href="/our-services/energy-managemen">Energy Management</a></li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1846"><a href="/our-services/routing-switching">Routing & Switching</a></li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-6847"><a href="/our-services/industrial-controls">Industrial Controls</a></li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1816"><a href="/our-services/renewable-energy">Renewable Energy</a></li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1812"><a href="/our-services/dod-networking">DoD Networking</a></li>
					<li  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11006"><a href="/our-services/refinery-networks">Refinery Networks</a></li>
				</ul>
			</li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1780"><a href="/cyber">Cyber<br>Security</a>
				<ul class="sub-menu">
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1826"><a href="/cyber/cyber-ics-monitoring">ICS Monitoring</a></li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1824"><a href="/cyber/cyber-red-teaming">Red Teaming</a></li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1825"><a href="/cyber/cyber-pentest">Pentesting</a></li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1821"><a href="/cyber/cyber-consulting">Cyber Consulting</a></li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1822"><a href="/cyber/cyber-bms-building">BMS Building Management Systems</a></li>
					<li  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10471"><a href="/cyber/cyber-system-commissioning">System Commissioning</a></li>
				</ul>
			</li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1780"><a href="/cyber">Cyber<br>Operations</a>
				<ul class="sub-menu">
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1826"><a href="/cyber/cyber-ics-ocs-platform">ICS OCS Platform</a></li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1824"><a href="/cyber/cyber-adversary-emulation">Adversary Emulation</a></li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1825"><a href="/cyber/cyber-soc-monitoring">SOC Monitoring</a></li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1821"><a href="/cyber/cyber-vulnerbility-assessments">Vulnerbility Assessments</a></li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1822"><a href="/cyber/cyber-facilities">Facilities Protection</a></li>
					<li  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10471"><a href="/cyber/cyber-federal">Federal Services</a></li>
				</ul>
			</li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1784"><a href="/data-center">Data<br>Center</a>
				<ul class="sub-menu">
					<li class="menu-item menu-item-type-taxonomy menu-item-object-service menu-item-3413"><a href="/data-center/facilities">Facilities Systems</a></li>
					<li class="menu-item menu-item-type-taxonomy menu-item-object-service menu-item-4225"><a href="/data-center/scada-systems">Scada Systems</a></li>
					<li class="menu-item menu-item-type-taxonomy menu-item-object-service menu-item-4228"><a href="/data-center/lighting-networks">Lighting Networks</a></li>
					<li class="menu-item menu-item-type-taxonomy menu-item-object-service menu-item-6855"><a href="/data-center/building-management">Building Management</a></li>
					<li class="menu-item menu-item-type-taxonomy menu-item-object-service menu-item-4230"><a href="/data-center/secure-networks">Secure Networks</a></li>
					<li class="menu-item menu-item-type-taxonomy menu-item-object-service menu-item-4226"><a href="/data-center/federal">Federal & DoD Networks</a></li>
					<li  class="menu-item menu-item-type-taxonomy menu-item-object-service menu-item-11017"><a href="/data-center/energy">Energy Data Centers</a></li>
				</ul>
			</li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1779"><a href="/process-control">Process<br>Control</a>
				<ul class="sub-menu">
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6527"><a href="/process-control/pipeline-networks">Pipeline Networks</a></li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6528"><a href="/process-control/oil-and-gas">Oil and Gas</a></li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6529"><a href="/process-control/chemical-networks">Chemical Networks</a></li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6526"><a href="/process-control/process-historian">Process Historian</a></li>
					<li  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10631"><a href="/process-control/scada">Scada Networks</a></li>
					<li  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11395"><a href="/process-control/ics-systems">ICS Systems</a></li>
					<li  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12224"><a href="/process-control/wind-generatione">Wind Generation</a></li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6525"><a href="/process-control/solar-networks">Solar Networks</a></li>
				</ul>
			</li>
		</ul>
	</nav>
</header>