<aside class="bottom">
	<section class="contact">
		<h2>Let's Talk Federal</h2>
		<div class="contact-card">
			<img width="81" height="81" src="{{ "/assets/images/pic1.jpg" | relative_url }}" class="attachment-large size-large" alt="" />
			<div class="info">
				<p class="name">Ron Warf</p>
				<label class="phone">833.327.5483</label>
				<a href="mailto:ron.warf@oscontrol.com" class="email-me">Email me</a>
			</div>
		</div>
	</section>
</a>
</li>
	</section>
	<section class="whoweare">
		<a href="/our-company/">
			<h2>Who We Are</h2>
			<p>Learn about us.</p>
		</a>
	</section>
</aside>
<aside class="right">
		<section class="contact">
			<h2>Control Systems</h2>
			<div class="contact-card">
				<img width="81" height="81" src="{{ "/assets/images/pic1.jpg" | relative_url }}" class="attachment-large size-large" alt="" />
				<div class="info">
					<p class="name">Ronald Warf</p>
					<label class="phone">833.327.5483</label>
					<a href="mailto:Ron.Warf@oscontrols.com" class="email-me">Email me</a>
				</div>
			</div>
		</section>
					</a>
				</li>
			</ul>
		</section>
	</aside>
