<div class="left_column">
	<nav class="secondary">
		<ul>
			<li class="current-menu-item"><a href="index.html" class="">Federal</a></li>
			<li class="">
				<a href="architecture/index.html" class="architecture">Architecture</a>
			</li>
			<li class="">
				<a href="renewable-energy/index.html" class="renewable-energy">Renewable Energy</a>
			</li>
			<li class="">
				<a href="energy-resiliency/index.html" class="energy-resiliency">Energy Resiliency</a>
			</li>
			<li class="">
				<a href="power-delivery/index.html" class="power-delivery">Power Delivery</a>
			</li>
			<li class="">
				<a href="intelligence/index.html" class="mission-critical-infrastructure">Mission Critical Infrastructure</a>
			</li>
			<li class="">
				<a href="power-generation/index.html" class="power-generation">Power Generation</a>
			</li>
			<li class="">
				<a href="scadacybersecurity/index.html" class="industrial-controls-and-scada">Industrial Controls and SCADA</a>
			</li>
			<li class="">
				<a href="cyber-security/index.html" class="cyber-security">Cyber Security</a>
			</li>
			<li class="">
				<a href="environmental-services/index.html" class="environmental-services">DATA CENTER SERVICES</a>
			</li>
			<li class="">
				<a href="small-business-registration/index.html" class="small-business-registration">Building Management</a>
			</li>
			<li class="">
				<a href="federal-contracts/index.html" class="federal-contracts">DoD Contracts</a>
			</li>
		</ul>
	</nav>
	<aside class="left">
		<section class="careers">
			<a href="../facilties/index.html">
				<h2>ON-SITE NOW</h2>
				<p>Onsite support in 12hrs</p>
			</a>
		</section>
		<section class="whoweare">
			<div class="rule"></div> <a href="../facilties/index.html">
				<h2>CONTACT US</h2>
				<p>Get Immediate Response</p>
			</a>
		</section>
	</aside>
</div>
