<div class="left_column">
	<nav class="secondary">
		<ul>
			<li class="current-menu-item"><a href="index.html" class="">Federal</a></li>
			<li class="">
				<a href="architecture/index.html" class="architecture">Architecture</a>
			</li>
			<li class="">
				<a href="renewable-energy/index.html" class="renewable-energy">Renewable Energy</a>
			</li>
			<li class="">
				<a href="energy-resiliency/index.html" class="energy-resiliency">Energy Resiliency</a>
			</li>
			<li class="">
				<a href="power-delivery/index.html" class="power-delivery">Power Delivery</a>
			</li>
			<li class="">
				<a href="intelligence/index.html" class="mission-critical-infrastructure">Mission Critical Infrastructure</a>
			</li>
			<li class="">
				<a href="power-generation/index.html" class="power-generation">Power Generation</a>
			</li>
			<li class="">
				<a href="scadacybersecurity/index.html" class="industrial-controls-and-scada">Industrial Controls and SCADA</a>
			</li>
			<li class="">
				<a href="cyber-security/index.html" class="cyber-security">Cyber Security</a>
			</li>
			<li class="">
				<a href="environmental-services/index.html" class="environmental-services">Environmental Services</a>
			</li>
			<li class="">
				<a href="small-business-registration/index.html" class="small-business-registration">Small Business Registration</a>
			</li>
			<li class="">
				<a href="federal-contracts/index.html" class="federal-contracts">Federal Contracts</a>
			</li>
		</ul>
	</nav>
	<aside class="left">
		<section class="careers">
			<a href="../../power-careers/employment-listings/index.html">
				<h2>Join Our Team</h2>
				<p>See career opportunities.</p>
			</a>
		</section>
		<section class="whoweare">
			<div class="rule"></div> <a href="../../our-company/index.html">
				<h2>Who We Are</h2>
				<p>Learn about us.</p>
			</a>
		</section>
	</aside>
</div>