<div class="left_column">
	<nav class="secondary">
		<ul>
			<li class="current-menu-item"><a href="{{ "/" | relative_url }}" class="">FACILITIES</a></li>
			<li class="">
				<a href="{{ "architecture/" | relative_url }}" class="architecture">SCADA ARCHITECTURE</a>
			</li>
			<li class="">
				<a href="{{ "renewable-energy/" | relative_url }}" class="renewable-energy">CLEAN COAL/WIND</a>
			</li>
			<li class="">
				<a href="{{ "energy-resiliency/" | relative_url }}" class="energy-resiliency">PROCESS CONTROLS</a>
			</li>
			<li class="">
				<a href="{{ "power-delivery/" | relative_url }}" class="power-delivery">Power Monitoring</a>
			</li>
			<li class="">
				<a href="{{ "intelligence/" | relative_url }}" class="mission-critical-infrastructure">Critical Infrastructure</a>
			</li>
			<li class="">
				<a href="{{ "power-generation/" | relative_url }}" class="power-generation">Power Generation</a>
			</li>
			<li class="">
				<a href="{{ "scadacybersecurity/" | relative_url }}" class="industrial-controls-and-scada">Industrial Controls and SCADA</a>
			</li>
			<li class="">
				<a href="{{ "cyber-security/" | relative_url }}" class="cyber-security">Cyber Security</a>
			</li>
			<li class="">
				<a href="{{ "environmental-services/" | relative_url }}" class="environmental-services">Data Center</a>
			</li>
			<li class="">
				<a href="{{ "small-business-registration/" | relative_url }}" class="building-management">Building Management</a>
			</li>
			<li class="">
				<a href="{{ "federal-contracts/" | relative_url }}" class="federal-contracts">DoD Contracts</a>
			</li>
		</ul>
	</nav>
	<aside class="left">
		<section class="careers">
			<a href="{{ "/our-services/Onsite-now/" | relative_url }}">
				<h2>ON-SITE NOW</h2>
				<p>We can be onsite in 12hrs</p>
			</a>
		</section>
		<section class="whoweare">
			<div class="rule"></div> <a href="{{ "our-services/" | relative_url }}">
				<h2>CONTACT US</h2>
				<p>Get Immediate response</p>
			</a>
		</section>
	</aside>
</div>
