---
layout: default
---
<div class="page header">
	{% include header.html %}
</div>
<div class="slides">
	<div class="slider-controls">
		<ul class="direction-nav">
			<li><a class="prev">prev</a></li>
			<li><a class="next">next</a></li>
		</ul>
	</div>
	<div class="ie_bg slides_container">
		<div class="slide" data-img-url-1600="{{ "/assets/images/asd.jpg" | relative_url }}" data-img-url-1200="{{ "/assets/images/2012/10/pm_home_1200x615.jpg" | relative_url }}" data-img-url-1024="{{ "/assets/images/asd.jpg" | relative_url }}" data-img-url-768="{{ "/assets/images/asd.jpg" | relative_url }}" data-img-url-mobile="{{ "/assets/images/asd.jpg" | relative_url }}" style="background: url({{ "/assets/images/asd.jpg" | relative_url }}) center no-repeat transparent;background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src={{ "/assets/images/asd.jpg" | relative_url }}" sizingMethod=scale);-ms-filter: " progid:DXImageTransform.Microsoft.AlphaImageLoader(src={{ "/assets/images/asd.jpg" | relative_url }}" sizingMethod=scale);">
			<a href="press-releases/ceo-message-for-our-clients/index.html" title=""></a>
		</div>
		<div class="slide" data-img-url-1600="{{ "/assets/images/932455.jpg" | relative_url }}" data-img-url-1200="{{ "/assets/images/932455.jpg" | relative_url }}" data-img-url-1024="{{ "/assets/images/932455.jpg" | relative_url }}" data-img-url-768="{{ "/assets/images/932455.jpg" | relative_url }}" data-img-url-mobile="{{ "/assets/images/2020/932455.jpg" | relative_url }}" style="background: url({{ "/assets/images/932455.jpg" | relative_url }}) center no-repeat transparent;background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src={{ "/assets/images/932455.jpg" | relative_url }}" sizingMethod=scale);-ms-filter: " progid:DXImageTransform.Microsoft.AlphaImageLoader(src={{ "/assets/images/932455.jpg" | relative_url }}" sizingMethod=scale)" ;">
			<a href="news-publications/currents-newsletter/index.html" title="" target="_blank"></a>
		</div>
		<div class="slide" data-img-url-1600="{{ "/assets/images/RgfOox.jpg" | relative_url }}" data-img-url-1200="{{ "/assets/images/RgfOox.jpg" | relative_url }}" data-img-url-1024="{{ "/assets/images/RgfOox.jpg" | relative_url }}" data-img-url-768="{{ "/assets/images/RgfOox.jpg" | relative_url }}" data-img-url-mobile="{{ "/assets/images/RgfOox.jpg" | relative_url }}" style="background: url({{ "/assets/images/RgfOox.jpg" | relative_url }}) center no-repeat transparent;background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src={{ "/assets/images/RgfOox.jpg" | relative_url }}" sizingMethod=scale);-ms-filter: " progid:DXImageTransform.Microsoft.AlphaImageLoader(src={{ "/assets/images/RgfOox.jpg" | relative_url }}" sizingMethod=scale)" ;">
			<a href="power-careers/index.html" title="Careers"></a>
		</div>
	</div>
</div>
<div class="page">
	<ul class="callouts">
		<li id="home-page-box-2" class="widget widget_home-page-box">
			<hgroup>
				<h1>Misson Critical</h1>
				<h2>When the Mission is 24x7x365</h2>
			</hgroup>
			<div class="hr"></div>
			<p>Our Mission is to <br/>provide resilience and rapid failover reaction for each service. Our network designs are rock-solid and agile, allowing comapnies to focus on their core business</p> <a href="our-company/index.html" title="Our Company">
				<div>Learn More</div>
			</a>
		</li>
		<li id="home-page-box-3" class="widget widget_home-page-box">
			<hgroup>
				<h1>Cybersecurity</h1>
				<h2>Scada and ICS Infrastructure</h2>
			</hgroup>
			<div class="hr"></div>
			<p>We understand industrial adversaires better than anyone, our OSC platform maps threat detections to the Mitre Att&ck for ICS Framework. Protecting your critical assets and visibility are only a few clicks away. </p> <a href="news-publications/index.html" title="News & Insights">
				<div>Learn More</div>
			</a>
		</li>
		<li id="home-page-box-4" class="widget widget_home-page-box">
			<hgroup>
				<h1>Network Architecture</h1>
				<h2>Join Our Team</h2>
			</hgroup>
			<div class="hr"></div>
			<p>Over a decade of building some of the most complex networks.From Design, consulting, deployment, remediation to management</p> <a href="https://chk.tbe.taleo.net/" title="Career Opportunities">
				<div>Learn More</div>
			</a>
		</li>
	</ul>
</div>
{% include footer.html %}