---
layout: default
---
<div class="page header">
	{% include header.html %}
</div>
<div class="slides">
	<div class="slider-controls">
		<ul class="direction-nav">
			<li><a class="prev">prev</a></li>
			<li><a class="next">next</a></li>
		</ul>
	</div>
	<div class="ie_bg slides_container">
		<div class="slide" data-img-url-1600="{{ "/assets/images/asd.jpg" | relative_url }}" data-img-url-1000="{{ "/assets/images/2012/10/pm_home_1200x615.jpg" | relative_url }}" data-img-url-1024="{{ "/assets/images/asd.jpg" | relative_url }}" data-img-url-768="{{ "/assets/images/asd.jpg" | relative_url }}" data-img-url-mobile="{{ "/assets/images/asd.jpg" | relative_url }}" style="background: url({{ "/assets/images/asd.jpg" | relative_url }} center center no-repeat transparent;background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src={{ "/assets/images/asd.jpg" | relative_url }}" sizingMethod=scale);-ms-filter: " progid:DXImageTransform.Microsoft.AlphaImageLoader(src={{ "/assets/images/asd.jpg" | relative_url }}" sizingMethod=scale);">
			<a href="press-releases/ceo-message-for-our-clients/index.html" title=""></a>
		</div>
		<div class="slide" data-img-url-1600="{{ "/assets/images/932455.jpg" | relative_url }}" data-img-url-1000="{{ "/assets/images/932455.jpg" | relative_url }}" data-img-url-1024="{{ "/assets/images/932455.jpg" | relative_url }}" data-img-url-768="{{ "/assets/images/932455.jpg" | relative_url }}" data-img-url-mobile="{{ "/assets/images/2020/932455.jpg" | relative_url }}" style="background: url({{ "/assets/images/932455.jpg" | relative_url }}" 0 center no-repeat transparent;background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src={{ "/assets/images/932455.jpg" | relative_url }}" sizingMethod=scale);-ms-filter: " progid:DXImageTransform.Microsoft.AlphaImageLoader(src={{ "/assets/images/932455.jpg" | relative_url }}" sizingMethod=scale)" ;">
			<a href="news-publications/currents-newsletter/index.html" title="" target="_blank"></a>
		</div>
		<div class="slide" data-img-url-1600="{{ "/assets/images/RgfOox.jpg" | relative_url }}" data-img-url-1000="{{ "/assets/images/RgfOox.jpg" | relative_url }}" data-img-url-1024="{{ "/assets/images/RgfOox.jpg" | relative_url }}" data-img-url-768="{{ "/assets/images/RgfOox.jpg" | relative_url }}" data-img-url-mobile="{{ "/assets/images/RgfOox.jpg" | relative_url }}" style="background: url({{ "/assets/images/RgfOox.jpg" | relative_url }}" 0 center no-repeat transparent;background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src={{ "/assets/images/RgfOox.jpg" | relative_url }}" sizingMethod=scale);-ms-filter: " progid:DXImageTransform.Microsoft.AlphaImageLoader(src={{ "/assets/images/RgfOox.jpg" | relative_url }}" sizingMethod=scale)" ;">
			<a href="power-careers/index.html" title="Careers"></a>
		</div>
	</div>
</div>
<div class="page">
	<ul class="callouts">
		<li id="home-page-box-2" class="widget widget_home-page-box">
			<hgroup>
				<h2>Our Company</h2>
				<h1>Who We Are</h1>
			</hgroup>
			<div class="hr"></div>
			<p>We are a global consulting <br />engineering firm specializing in the delivery of secure integrated solutions.</p> <a href="our-company/index.html" title="Our Company">
				<div>Learn More</div>
			</a>
		</li>
		<li id="home-page-box-3" class="widget widget_home-page-box">
			<hgroup>
				<h2>CYBERSECURITY</h2>
				<h1>Cybersecurity Expertise</h1>
			</hgroup>
			<div class="hr"></div>
			<p>Check out the latest news, white papers and insights from the team. </p> <a href="news-publications/index.html" title="News & Insights">
				<div>Learn More</div>
			</a>
		</li>
		<li id="home-page-box-4" class="widget widget_home-page-box">
			<hgroup>
				<h2>Career Opportunities</h2>
				<h1>Join Our Team</h1>
			</hgroup>
			<div class="hr"></div>
			<p>Searching for a new challenge? We're always looking for passionate people to join our company.</p> <a href="https://chk.tbe.taleo.net/" title="Career Opportunities">
				<div>Browse Job Openings</div>
			</a>
		</li>
	</ul>
</div>
{% include footer.html %}
